<head>

  <meta charset="utf-8">
  <title>Contact Us</title>
  <link href="css/mane1.css" rel="stylesheet" type="text/css">
  <link href="css/mane2.css" rel="stylesheet" type="text/css">
</head>
<body>
  <!--<h1 class="heading">Let&#x27;s Learn Rails</h1>
  <div class="w-layout-grid grid-2">
    <a id="node1b" href="#" class="button w-button">Home</a>
    <a id="node1c" href="#" class="button w-button">Our Apps</a>
    
  </div> -->
  <h3 class="heading-2">Hi! Please leave your contact info with us </h3>
  <h3 class="heading-2">We will connect with you shortly... </h3>
  
  <div class="container w-container"></div>
  
</body>
