<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link href="css/mane1.css" rel="stylesheet" type="text/css">
  <link href="css/mane2.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h1 class="heading">Let&#x27;s Learn Rails</h1>
  <div class="w-layout-grid grid-2">
    <a id="node1b" href="#" class="button w-button">Our Apps</a>
    <a id="node1c" href="#" class="button w-button">Contact Us</a>
  </div>
  <h2 class="heading-2">Welcome<br> to your first &#x27;Rails&#x27; website</h2>
  <div class="container w-container"></div>
  <div class="columns w-row">
    <div class="w-col w-col-6">
      <p class="paragraph">Today we will learn...</p>
    </div>
    <div class="w-col w-col-6">
      <ul role="list" class="list-2">
        <li class="list-item">Rails Views</li>
        <li class="list-item-2">Routing</li>
        <li class="list-item-3">MVC Convention in Rails</li>
      </ul>
    </div>
  </div>
</body>
</html>